.wrap > h2 {
  margin-top: 100px;
  border-bottom: 1px solid antiquewhite;
}

.posterPlace {
  flex-wrap: wrap;
  margin-top: 50px;
}
.posterPlace > li {
  width: 300px;
  height: 350px;
  margin-bottom: 50px;
}
.posterPlace > li > a > img {
  max-width: 90%;
  max-height: 100%;
}
