@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.wrap {
  /* border: 1px white solid; */
}

section > a {
  margin-right: 10px;
}
/* poster */
.posterPlace {
  max-width: 30%;
}
.posterPlace > img {
  width: 100%;
}

/* text */
.textPlace {
  line-height: 1.5;
  margin-left: 20px;
}

/* head area */
.headArea {
  width: 100%;
  /* border: 1px white solid; */
  align-items: flex-end;
}
.headArea > section > h2 {
  font-size: 35px;
  font-weight: bold;
}
.headArea > * {
  margin-right: 10px;
}
.headArea > p {
  font-size: 25px;
}
.headArea > .actionBox > ul {
  /* border: 1px white solid; */
}

/* body area */
.bodyArea {
  margin: 20px 0;
}
.bodyArea > .plot {
  font-size: 20px;
  line-height: 1.5;
  width: 50%;
}

/* reviewBox */
.closeBt {
  color: black;
  position: absolute;
  right: 0;
  top: 0;
}
.reviewBox {
  /* border: 1px white solid; */
  position: absolute;
  background-color: lightslategrey;
  width: 70%;
  height: 550px;
  left: 15%;
  z-index: 3;
}
.reviewBox > section {
  padding: 30px;
}
.reviewBox > section > img {
  max-width: 80%;
}
.reviewBox > section:nth-child(2) {
  line-height: 1.5;
  width: 80%;
}
.reviewBox > section > p {
  color: lightblue;
  font-weight: bold;
  font-size: 20px;
}
.reviewBox > section > h2 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.reviewBox > section:nth-child(2) > input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.reviewBox > section:nth-child(2) > label {
  color: lightblue;
}

.reviewBox > section > label {
  color: black;
}

/* 別人寫的星星 */
/* thanks Ahmed Nefzaoui */
/* Ratings widget */
.rate {
  display: inline-block;
  border: 0;
}
/* Hide radio */
.rate > input {
  display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
  float: right;
}
/* The star of the show */
.rate > label:before {
  display: inline-block;
  font-size: 2rem;
  padding: 0.3rem 0.2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label {
  color: #73b100;
} /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ {
  color: #a6e72d;
}
/* 別人寫的星星 */
