.wrap {
  /* border: 1px white solid; */
}

section > a {
  margin-right: 10px;
}
/* .wrap > div {
  justify-content: space-between;
} */
/* poster */
.posterPlace {
  max-width: 30%;
}
.posterPlace > img {
  width: 100%;
}
.posterPlace > img {
  border-radius: 5px;
}

/* text */
.textPlace {
  line-height: 1.5;
  margin-left: 20px;
}

/* head area */
.headArea {
  width: 100%;
  /* border: 1px white solid; */
  align-items: flex-end;
}
.headArea > h2 {
  font-size: 35px;
  font-weight: bold;
}
.headArea > * {
  margin-right: 10px;
}
.headArea > p {
  font-size: 25px;
}

/* body area */
.bodyArea {
  margin: 20px 0;
}
.bodyArea > .plot {
  font-size: 20px;
  line-height: 1.5;
  width: 70%;
}
