.welcomePlace {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}
.welcomePlace > a {
  text-decoration: underline;
}

.newsMessagePlace {
  border-bottom: 1px solid antiquewhite;
  justify-content: space-between;
}

/* newFromFriendsPlace */
.newFromFriendsPlace,
.justReviewdPlace {
  margin-top: 10px;
}
.newFromFriendsPlace > li {
  width: 200px;
  color: antiquewhite;
  margin-right: 10px;
}
.imgPlace > img {
  width: 200px;
  height: 280px;
  border-radius: 5px 5px 0 0;
}

.namePlace {
  background-color: #264653;
  border-radius: 0 0 5px 5px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
}

.footPlace {
  justify-content: space-between;
}

/* .justReviewdPlace */
.justReviewdPlace > li {
  margin-right: 10px;
}
.justReviewdPlace > li > a > img {
  width: 100px;
  height: 150px;
  border: solid 1px grey;
}

.newFromFriendsPlace::after,
.justReviewdPlace::after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  right: 150px;
  background-image: linear-gradient(
    to left,
    #212121 40%,
    rgba(255, 255, 255, 0) 80%
  );
  width: 50px;
  height: 150px;
}
