/* 旁邊顯示其他搜尋的小框框 */
.otherCollections {
  position: absolute;
  flex-direction: column;
  right: 300px;
}
.otherCollections.flex > li:nth-child(1) {
  color: antiquewhite;
}
.otherCollections > li {
  margin-bottom: 15px;
}

.showPlace {
  margin-top: 50px;
}
.showRow {
  padding: 10px;
}
.showRow > div {
  margin-left: 20px;
}
/* title */
.showPlace > li > div > div > a {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.showPlace > li > div {
  line-height: 2;
}

/* for non movie posters */
.showRow > div > img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: solid 1px gray;
}
.showRow > div > .moviePos {
  width: 180px;
  height: 250px;
  border-radius: 5px;
}
.showRow > div > a,
.showRow > div > p,
.showRow > div > p > a {
  margin-right: 10px;
}
/* search users */
.showPlace > li > div > div:nth-child(2) > section > a:nth-child(1) {
  margin-right: 5px;
}
