/* 旁邊顯示其他搜尋的小框框 */
.otherCollections {
  position: absolute;
  flex-direction: column;
  right: 300px;
  margin-top: 50px;
  margin-right: 80px;
}
.otherCollections.flex > li:nth-child(1) {
  color: antiquewhite;
}
.otherCollections > li {
  margin-bottom: 15px;
}

.showPlace {
  margin-top: 50px;
}
.showRow {
  padding: 10px;
}
.showRow > div {
  margin-left: 20px;
}

.frame > h2 {
  border-bottom: 1px solid antiquewhite;
}
.showPlace {
  margin-top: 20px;
  flex-wrap: wrap;
}
/* 一整行 */
.showPlace > li {
  height: 200px;
}
.showPlace > li > section,
.showPlace > li > section:nth-child(2) > section > a:nth-child(1) {
  margin-right: 30px;
}

/* 海報右邊的字區 */
.showPlace > li {
  height: 300px;
}
.showPlace > li > section:nth-child(2) {
  line-height: 2;
  width: 45%;
}
.reviewPlace {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* more text */
.reviewBody > a:nth-child(3):hover {
  color: #2a9d8f !important;
}
/* title year */
.showPlace > li > section:nth-child(2) > section.flex {
  align-items: flex-end;
}
.showPlace > li > section:nth-child(2) > section.flex > a:nth-child(1) > h3 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.showPlace > li {
  margin: 0 10px 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid antiquewhite;
}
/* poster */
.showPlace > li > section > a > img {
  width: 100px;
  height: 150px;
  border: solid 1px gray;
}
