.wrap > * {
  margin-bottom: 30px;
}
/* user */
.profile > img {
  width: 150px;
}
.profile > section {
  margin-left: 100px;
  margin-top: 20px;
}
.profile > section > h2 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

/* follow bt */
.profile > section > a {
  background-color: lightsteelblue;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* unfollowBt */
.unFollowBt {
  background-color: #2a9d8f !important;
}
.unFollowBt.unFollow {
  background-color: #e36414 !important;
}
/* user profile nav 施工中*/
.wrap > ul > li {
  margin-right: 20px;
}

/* latest review row*/
.reviews > h3 {
  color: antiquewhite;
}
.reviewdPlace > li {
  border-bottom: 1px white solid;
  padding: 10px 0;
}
.reviewdPlace > li > div {
  height: 200px;
  margin-right: 20px;
}
.reviewBody > * {
  padding: 5px;
}
.reviewText {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.reviewdPlace > li > div > img {
  max-height: 100%;
  width: 125px;
  border: 1px gray solid;
}
.starPlace > img {
  height: 20px;
}

/* for userProfile reviews page */
.userNav {
  border: 1px solid white;
}
.userNav > ul {
  width: 25%;
}
.userNav > ul > li {
  margin-right: 20px;
}
