<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Merely a Site</title>
    <meta
      name="google-signin-client_id"
      content="586610707307-7tjqpj07v55e7mfm6a01luh164rlu6bo.apps.googleusercontent.com"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/cssReset.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/public.css')}}"
    />
    {% block style %}{% endblock %}
  </head>
  <body>
    <div class="mask hide"></div>
    <div class="globalMessagePlace"></div>
    <header>
      <nav>
        <h1><a href="/">Movie Notes</a></h1>
        <ul class="flex">
          <li class="hide"><a href="#"></a></li>
          <li>
            <a href="#">LOG IN</a>
            <ul class="loginPlace"></ul>
          </li>
          <li><a href="#">CREATE ACCOUNT</a></li>
          <li><a href="/search?keyword=&page=1">FILMS</a></li>
          <!-- 如果films沒辦法用爬蟲抓出最新電影之類的 那還有必要ㄇ -->
          <!-- <li><a href="#">NOTES</a></li> -->
          <li class="hide"><a href="#">LOG OUT</a></li>
          <!-- 如果有東西不會動 就是因為ADD MOIVE本來應該加在最後的關係:( -->
          <li><a href="#">ADD MOVIE</a></li>
          <li class="searchForm alignRight">
            <select class="searchSelect">
              <option option value="movie">MOVIE</option>
              <option option value="director">DIRECTOR</option>
              <option option value="actor">ACTOR</option>
              <option option value="genre">GENRE</option>
              <option option value="user">USER</option>
            </select>
            <input type="text" id="userInput" placeholder="Search" />
            <a href="#"> <img src="/static/images/glass.png" alt="search" /></a>
          </li>
        </ul>
      </nav>

      <!-- log in -->
      <section class="logInPlace hide">
        <input
          type="email"
          id="loginEmail"
          name="loginEmail"
          placeholder="EMAIL"
        />
        <input
          type="password"
          id="loginPassword"
          name="loginPassword"
          placeholder="PASSWORD"
        />
        <button>SIGN IN</button>
      </section>

      <!-- sign up -->
      <section class="hide signUpPlace flex">
        <a class="signUpPlaceCloseBt" href="#">X</a>
        <label for="signinEmail">EMAIL</label>
        <input
          type="email"
          id="signinEmail"
          name="signinEmail"
          placeholder="EMAIL"
        />
        <label for="siginPassword">PASSWORD</label>
        <input
          type="password"
          id="signPassword"
          name="signPassword"
          placeholder="PASSWORD"
        />
        <label for="siginName">NAME</label>
        <section>
          <input type="text" id="signName" name="signName" placeholder="NAME" />
          <span class="validationPlace"></span>
        </section>

        <a class="signUpBt" href="#">SIGN UP</a>
      </section>
    </header>

    <div class="wrap">
      <div class="addMoviePlace hide">
        <a class="addMovieCloseBt" href="#">X</a>
        <h2>Can't find the movie you are looking for?</h2>
        <h2>Help us build our database!</h2>
        <br />
        <label for="movieTitle">Movie title</label>
        <br />
        <input type="text" id="movieTitle" />
        <br />
        <label for="movieYear">Year</label>
        <br />
        <input type="text" id="movieYear" />
        <br />
        <br />
        <button class="addMovieBt">Add movie</button>
      </div>
      {% block content %}{% endblock %}
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{{ url_for('static', filename='js/public.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navScript.js') }}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
