{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/film.css')}}"
/>
{% endblock %} {% block content %}
<div class="flex">
  <div class="posterPlace">
    <img src="" alt="poster" />
  </div>
  <div class="textPlace">
    <div class="headArea flex">
      <section>
        <h2></h2>
        <a href="#"></a>
        <p></p>
        <p>Directed by</p>
        <section class="directorsPlace"></section>
        <section class="plot">
          <p></p>
        </section>
      </section>
      <section class="actionBox">
        <ul>
          <li class="flex hide smallActionsPlace">
            <section class="flex likeBtPlace hide">
              <a class="likeBt" href="#"
                ><img src="../static/images/heart.svg" alt=""
              /></a>
              Like
            </section>
            <section class="flex removeLikeBtPlace hide">
              <a class="removeLikeBt" href="#"
                ><img
                  class="filterGreen"
                  src="../static/images/heart.svg"
                  alt=""
              /></a>
              Liked
            </section>
            <section class="flex watchlistBtPlace hide">
              <a class="watchlistBt" href="#"
                ><img src="../static/images/plus.svg" alt=""
              /></a>
              Watchlist
            </section>
            <section class="flex removeWatchlistBtPlace hide">
              <a class="removeWatchlistBt" href="#"
                ><img
                  class="filterGreen"
                  src="../static/images/plus.svg"
                  alt=""
              /></a>
              Watchlist
            </section>
          </li>
          <li><a class="hide" href="#">Wrtie a review</a></li>
          <li><a class="hide" href="#">Add to lists</a></li>
          <li>
            <!-- rating -->
            <fieldset class="rate hide">
              <p>Rate</p>
              <a class="cancelBt hide" href="#">X</a>
              <input type="radio" id="rating10" name="rating" value="5" /><label
                for="rating10"
                title="5 stars"
              ></label>
              <input
                type="radio"
                id="rating9"
                name="rating"
                value="4.5"
              /><label class="half" for="rating9" title="4 1/2 stars"></label>
              <input type="radio" id="rating8" name="rating" value="4" /><label
                for="rating8"
                title="4 stars"
              ></label>
              <input
                type="radio"
                id="rating7"
                name="rating"
                value="3.5"
              /><label class="half" for="rating7" title="3 1/2 stars"></label>
              <input type="radio" id="rating6" name="rating" value="3" /><label
                for="rating6"
                title="3 stars"
              ></label>
              <input
                type="radio"
                id="rating5"
                name="rating"
                value="2.5"
              /><label class="half" for="rating5" title="2 1/2 stars"></label>
              <input type="radio" id="rating4" name="rating" value="2" /><label
                for="rating4"
                title="2 stars"
              ></label>
              <input
                type="radio"
                id="rating3"
                name="rating"
                value="1.5"
              /><label class="half" for="rating3" title="1 1/2 stars"></label>
              <input type="radio" id="rating2" name="rating" value="1" /><label
                for="rating2"
                title="1 star"
              ></label>
              <input
                type="radio"
                id="rating1"
                name="rating"
                value="0.5"
              /><label class="half" for="rating1" title="1/2 star"></label>
            </fieldset>
          </li>
          <li></li>
        </ul>
      </section>
      <!-- 秀出多少人評分 -->
      <div class="mouseTextPlace hide"></div>
    </div>

    <!-- <div class="bodyArea flex">
      <section class="plot">
        <p></p>
      </section>
    </div> -->

    <div class="footArea">
      <section class="casts">
        <p>CAST</p>
      </section>
      <section class="genres">
        <p>GENRES</p>
      </section>
    </div>
  </div>

  <!-- 寫評論區 -->
  <div class="reviewBox flex hide">
    <section><img src="" alt="poster" /></section>
    <section>
      <a class="closeBt" href="#">X</a>
      <p>I WATCHED...</p>
      <h2></h2>

      <input type="checkbox" id="watched" />
      <input class="hide" type="date" name="watchedDay" id="watchedDay" />
      <label for="watched">Specify the date you watched it</label>
      <textarea name="review" id="review" cols="50" rows="15"></textarea>
      <br />
      <button>SAVE</button>
      <br />
      <input type="checkbox" name="spoilers" id="spoilers" />
      <label for="spoilers">Contains spoilers</label>
    </section>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/film.js') }}"></script>
{% endblock %}
