<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Merely a Site</title>
    <link href="../static/css/cssReset.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- <link href="../static/css/index.css" rel="stylesheet" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/index.css')}}"
    />
  </head>
  <body>
    <!-- nav start -->
    <nav class="navbar navbar-expand-lg navbar-light border">
      <div class="container-fluid">
        <!-- <a class="navbar-brand text-white" href="#">Merely a Site</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a
                class="nav-link active text-white fw-bold"
                aria-current="page"
                href="#"
                >REVIEWS</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" href="#">LISTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" id="signInBt" href="#"
                >SIGN IN</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid collapse py-3" id="signInArea">
      <label class="text-white fw-bold" for="email">Email</label>
      <input class="rounded" type="email" id="email" />
      <label class="text-white fw-bold" for="password">Password</label>
      <input class="rounded" type="password" id="password" />
      <button type="button" class="btn-sm btn-light">SIGN IN</button>
    </div>
    <!-- nav end -->

    <!-- body start -->
    <div class="container">
      <div class="container" id="upComingArea"></div>
    </div>
    <!-- body end-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="../static/js/index.js"></script> -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
