{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/index.css')}}"
/>
{% endblock %} {% block content %}
<div class="welcomePlace"></div>
<ul class="popularThisWeekPlace flex hide"></ul>
<section class="newsMessagePlace flex">
  <h2 class="dynamicTextForNews hide">JUST REVIEWED...</h2>
  <h2 class="dynamicTextForNews2 hide"><span></span> films watched</h2>
</section>

<ul class="newFromFriendsPlace flex"></ul>

<ul class="justReviewdPlace flex"></ul>
<section class="newsMessagePlace flex">
  <h2 class="dynamicTextForLikeReviews hide"></h2>
</section>
<ul class="reviewsWIthFriendsPlace flex hide"></ul>

{% endblock %}{% block script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
