{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/index.css')}}"
/>
{% endblock %} {% block content %}
<div class="welcomePlace"></div>
<h2 class="dynamicTextForNews hide"></h2>
<ul class="newFromFriendsPlace flex">
  <!-- <li class>
    <a href="">
      <section class="headPlace">
        <section class="imgPlace">
          <img
            src="https://dwn6ych98b9pm.cloudfront.net/moviePos/img1.jpg"
            alt=""
          />
        </section>
        <section class="namePlace">test</section>
      </section>
      <section class="footPlace flex">
        <section class="ratePlace">rate</section>
        <section class="datePlace">may 31</section>
      </section>
    </a>
  </li> -->
</ul>
<ul class="justReviewdPlace flex">
  <!-- <li class>
    <a href="">
      <img
        src="https://dwn6ych98b9pm.cloudfront.net/moviePos/img1.jpg"
        alt=""
      />
    </a>
  </li> -->
</ul>

{% endblock %}{% block script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
