{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/movieUserLikes.css')}}"
/>
{% endblock %} {% block content %}
<ul class="userNav flex alignCenter">
  <li><a class="userProfileReviewsBt" href="#">Reviews</a></li>
  <li><a class="userProfileLikesBt" href="#">Likes</a></li>
  <li><a class="userProfileHomeBt" href="#">Profile</a></li>
</ul>
<ul class="showPlace flex alignCenter"></ul>
<div class="pagesPlace alignCenter"></div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/moviesUserLikes.js') }}"></script>
{% endblock %}
