{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/searchResults.css')}}"
/>{% endblock %} {% block content %}
<div class="frame">
  <h2>RESULTS FOR ACTOR {{ director }}</h2>
  <ul class="searchCollections">
    <a href="#">Movies</a>
    <a href="#">Reviews</a>
    <a href="#">Directors</a>
    <a href="#">Actors</a>
  </ul>
  <ul>
    <!-- <li>
      <div class="showRow flex">
        <div>
          <img
            src="https://dwn6ych98b9pm.cloudfront.net/moviePos/img1.jpg"
            alt="img"
          />
        </div>
        <div>
          <a href="/film/moviename-year">title</a>
          <a href="/films/year/movieyear">year</a>
          <p>Directed by</p>
          <a href="/director/directorname">directorname</a>
        </div>
      </div>
    </li> -->
  </ul>
</div>
<div class="pagesPlace alignCenter"></div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/searchActor.js') }}"></script>
{% endblock %}
