{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/searchResults.css')}}"
/>{% endblock %} {% block content %}

<div class="frame">
  <h2>RESULTS FOR USER - {{ user }}</h2>
  <ul class="otherCollections flex">
    <li>SHOW RESULTS FOR</li>
    <li><a href="#">Movies</a></li>
    <li><a href="#">Reviews</a></li>
    <li><a href="#">Directors</a></li>
    <li><a href="#">Actors</a></li>
    <li><a href="#">USERS</a></li>
  </ul>
  <ul class="showPlace">
    <!-- <li>
      <img src="../static/images/user.png" alt="">
      <a href="/user_profile/test">user name</a>
      <a href="#">0 followers</a>
      <a href="#">following 0</a>
    </li> -->
  </ul>
</div>
</div>
<div class="pagesPlace alignCenter"></div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/searchUsers.js') }}"></script>
{% endblock %}
