{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/userSetting.css')}}"
/>
{% endblock %} {% block content %}
<div>
  <p>Change profile image:</p>
  <input type="file" />
</div>
<div>
  <section>
    <label for="changePassword"> Change password: </label>
    <input type="password" name="changePassword" id="changePassword" />
  </section>
  <section>
    <label for="confirmPassword"> Confirm password: </label>
    <input type="password" name="confirmPassword" id="confirmPassword" />
  </section>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/userSetting.js') }}"></script>
{% endblock %}
