{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/userLikes.css')}}"
/>
{% endblock %} {% block content %}
<ul class="userNav flex">
  <li><a class="userProfileReviewsBt" href="#">Reviews</a></li>
  <li><a class="userProfileWatchlistBt" href="#">Watchlist</a></li>
  <li><a class="userProfileHomeBt" href="#">Profile</a></li>
</ul>
<div class="showPlace flex">
  <section>
    <section class="flex">
      <h2>FILMS</h2>
      <a class="moviesUserLikesAllBt" href="#">ALL</a>
    </section>

    <ul class="moviePosPlace flex"></ul>
  </section>

  <section>
    <section class="flex">
      <h2>REVIEWS</h2>
      <a class="reviewsUserLikesAllBt" href="#">ALL</a>
    </section>
    <ul class="reviewPlace"></ul>
  </section>
</div>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/userLikes.js') }}"></script>
<script src="{{ url_for('static', filename='js/filmGeneral.js') }}"></script>
{% endblock %}
