{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/userProfile.css')}}"
/>
{% endblock %} {% block content %}
<!-- profile -->
<div class="profile flex">
  <img src="../static/images/user.png" alt="pic" />
  <section>
    <h2>{{ name }}</h2>
    <a href="/setting">EDIT PROFILE</a>
  </section>
</div>

<!-- profile nav -->
<ul class="userProfileNav flex">
  <li><a class="userProfileReviewsBt" href="#">Reviews</a></li>
  <li><a class="userProfileReviewsBt" href="#">Watchlist</a></li>
</ul>

<!-- latest reviews -->
<div class="reviews">
  <h3>RECENRTLY REVIEWS</h3>
  <hr />
  <ul class="reviewdPlace"></ul>
</div>
{% endblock %} {% block script %}

<script src="{{ url_for('static', filename='js/userProfile.js') }}"></script>
{% endblock %}
