{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/userProfile.css')}}"
/>{% endblock %} {% block content %}
<ul class="userNav flex alignCenter">
  <li><a class="userProfileReviewsBt" href="#">Reviews</a></li>
  <li><a class="userProfileWatchlistBt" href="#">Watchlist</a></li>
  <li><a class="userProfileHomeBt" href="#">Profile</a></li>
</ul>
<div class="reviews">
  <hr />
  <ul class="reviewdPlace"></ul>
  <div class="pagesPlace alignCenter"></div>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/userProfileReviews.js') }}"></script>
{% endblock %}
